<<<<<<< HEAD
body{display: flex;
	flex-direction: column;
}
main{display: flex;
	flex-direction: row;
	flex: auto;
}
article{flex: 2;
	overflow-y: auto;
}
aside{flex: 1;
	overflow-y: auto;
}
=======

>>>>>>> 882882b4b3005802c8781b30e8a26354de49090c
